<div class="col-md-8" style="margin: 0 auto">
  <div class="card bg-light rounded card-custom bg-white border-white border-0" style="padding: 3rem;">
    <div class="card-body">
      <h1 class="card-title">Hello
      <%= current_user.name.titleize %>!</h1>
      <p class="lead">From here you can manage your contacts as you like...</p>
      <%= link_to "Manage Your Contacts", contacts_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>