<a href="#" class="list-group-item">All Contact <span class="badge badge-secondary badge-pill">10</span></a>
<a href="" class="list-group-item">Family <span class="badge badge-secondary badge-pill">4</span></a>
<a href="" class="list-group-item">Friends <span class="badge badge-secondary badge-pill">3</span></a>
<a href="" class="list-group-item">Other <span class="badge badge-secondary badge-pill">3</span></a>