<!-- content -->
<div class="container container-contacts">
  <div class="row">
    <div class="col-md-3">
      <div class="card bg-white border-white border-0 card-custom badges">
        <div class="list-group list-group-flush">
          <%= render "shared/badges" %>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <%= yield %>
    </div>
  </div>
</div>