
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark fixed-top __web-inspector-hide-shortcut__ shadow">
  <div class="container">
    <h3><%= link_to "Contact Rails", root_path, class: "nav-link" %></h3>
      <ul class="navbar-nav ml-md-auto">
        <li>
          <%= link_to new_contact_path, class: "btn btn-secondary" do %>
            <i class="glyphicon glyphicon-plus"></i>
            Add Contact
          <% end %>
        </li>
      </ul>
      </div>
  </div>
</nav>