<%= form_tag(contacts_path, class: "form-inline my-lg-0", role: "search", method: :get) do %>
  <%= text_field_tag :term, params[:term], class: "form-control mr-sm-2", placeholder: "Search", autocomplete: "off", id: "term" %>
  <!-- <%# hidden_field_tag :group_id, params[:group_id] %> -->
  <button class="btn btn-primary" type="submit">Find</button>
 <% end %>