<% if @contacts.blank? %>
  <div class="alert alert-warning">
    <strong>Contact not found!</strong> Add some contacts please.
  </div>
<% end %>

<div id="contacts">
  <%= render @contacts %>
</div>

<br>

<div class="text-center">
  <div class="pagination pagination-lg justify-content-center" id="paginator">
    <%= paginate @contacts, remote: true %>
  </div>
</div>