<% if @contacts.blank? %>
  <div class="alert alert-warning">
    <strong>Contact not found!</strong> Add some contacts please.
  </div>
<% end %>

<%= render @contacts %>

<br>

<div class="text-center">
  <div class="pagination pagination-lg justify-content-center">
    <%= paginate @contacts %>
  </div>
</div>
