<!-- content -->
<div class="col-md-3" id= "badges">
  <div class="card bg-white border-white border-0 card-custom badges">
    <div class="list-group list-group-flush">
      <%= render "contacts/badges" %>
    </div>
  </div>
</div>

<div class="col-md-9">
  <%= render "shared/contact_tools" %>
  <%= render "contacts" %>
</div>
