<div class="col-md-3">
  <div class="card bg-white border-white border-0 card-custom badges">
    <div class="list-group list-group-flush">
      <%= render "contacts/badges" %>
    </div>
  </div>
</div>
<div class="col-md-9">
  <div class="card bg-default card-custom border-white border-0 contact-card-container">
    <h5 class="card-header">
      Add Contact
    </h5>
  
    <%= render 'form' %>
  </div>
</div>