// Fonts
  // Bug: Warning. Error encountered while saving cache ... can't dump hash with default proc
  // need to remove import fonts to get rid off the error
// @import url('https://fonts.googleapis.com/css?family=Hind:700|Open+Sans')

// $heading: 'Hind', sans-serif
// $body: 'Open Sans', sans-serif

// h1, h2, h3, h4, h5, h6
//   font-family: $heading !important
//   font-weight: 700 !important

// p, a
//   font-family: $body
//   font-weight: 400
  
.card-custom 
  overflow: hidden
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.3)

.shadow
  box-shadow: 0px 4px 10px 0 rgba(10, 10, 10, 0.3)

// Better Font Rendering
html 
  /* Adjust font size */
  font-size: 100%
  -webkit-text-size-adjust: 100%
  /* Font varient */
  font-variant-ligatures: none
  -webkit-font-variant-ligatures: none
  /* Smoothing */
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  font-smoothing: antialiased
  -webkit-font-smoothing: antialiased
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px

// Bootstrap Overide classes
.invalid-feedback
  display: block