.container-contacts
  margin-top: 105px
  @media (max-width: 990px)
    margin-top: 135px
  @media (max-width: 475px)
    margin-top: 185px

.badges
  margin-bottom: 20px

.contact-card-container
  margin-bottom: 1rem
  
.contact-elements
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  align-items: center
  
.contact-description
  // background-color: pink
  height: 200px
  padding-left: 2rem !important 

.contact-actions
  max-width: 100px
  align-self: auto
  text-align: center
  display: block

.contact-action-icon
  font-size: 1.5rem
  margin: 0 5px
  &:hover
    text-decoration: none

.contact-description, .contact-actions
  padding: 1rem

.gravatar-img
  width: 200px
  height: 200px

.contact-avatar-container
  margin: 0 auto !important
  display: block !important

.contact-avatar
  margin: 0 auto
  display: block
  border-radius: 0.25rem

#save-group-btn
  &:hover
    color: white