.contact-elements
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  
.contact-description
  background-color: pink

.contact-actions
  max-width: 100px
  align-self: auto
  text-align: center
  display: block
  // margin: 0 auto

.contact-description, .contact-actions
  padding: 1rem