.nav-title
  font-family: $heading !important
  font-weight: 700
  font-size: 1.9rem
  padding: 0
  text-transform: uppercase
  
.nav-link
  color: white
  text-decoration: none
  &:hover
    color: white

.search
  margin-right: 1rem
  @media (max-width: 990px)
    margin-right: 0

// Autocomplete jQuery UI
.ui-autocomplete
  position: relative
  cursor: default
  z-index: 9999 !important
  width: 244px